// COLORS
$primary-color: #ffd563;
$secondary-color: #ffce46;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #353535;

$dark-blue-text: #332e50; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4.2rem;
$mid-font-size: 2.7rem;
